body {
  background-color: #f0f0f0;
}

.card {
  margin: 50px auto;
  background-color: #ffeecc;
  border: 5px solid #ffcc66;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#pudim-img {
  padding: 2rem;
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-title {
  color: #cc3300;
}

.card-text {
  color: #666666;
}

.btn-primary {
  background-color: #ff6666;
  border: 2px solid #cc3300;
}

#comer-btn:hover {
  background-color: #cc3300;
  border: 2px solid #ff6666;
}
